<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Inicio</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="/public/css/home.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <header>
        <a href="/">
            <img src="/public/img/logo-mercado-liebre.svg" alt="logo mercado libre">
        </a>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos...">
            <button type="submit">Buscar</button>
        </div>
        <div class="buy-options">
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="main-nav">
            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="menu_listado">
                <li class="caja1"><a href="/home">ofertas</a></li>
                <li class="caja1"><a href="#">tiendas oficiales</a></li>
                <li class="caja1"><a href="#">vender</a></li>
                <li class="caja1"><a href="#">ayuda</a></li>
                <li class="caja2"><a href="/register">crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li class="caja2"><a href="/login">ingresa</a><i class="fas fa-sign-out-alt"></i></li>
                <li class="caja2"><a href="#">mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        
    <main>
        <section class="last-visit">
            <div class="product-item">
                <img src="/public/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>Cafetera Moulinex</p>
            </div>
        </section>
        <section class="last-visit">
            <div class="product-item">
                <img src="/public/img/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                <p>$230.000</p>
                <p>MacBook Pro 2019</p>
            </div>
            
        </section>
        <section class="last-visit">
            <div class="product-item">
                <img src="/public/img/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung">
                <p>$70.500</p>
                <p>Samsung Galaxy s10</p>
            </div>
          
        </section>
        <section class="last-visit">
            <div class="product-item">
                <img src="/public/img/img-tv-samsung-smart.jpg" alt="Imagen del Smart">
                <p>$23.200</p>
                <p>SmartTv Samsung 43"</p>
            </div>
            </section>
            <hr>
            <p> Productos en ofertas basados en tu ultima visita</p>
            <hr>

        <section class="offers">
            <div class="product-item">
                <img src="/public/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </div>
        
        </section>
        <section class="offers">
            <div class="product-item">
                <img src="/public/img/img-macbook-pro-2019.jpg" alt="Imagen de la MacBook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </div>           
        </section>

        <section class="offers">
            <div class="product-item">
                <img src="/public/img/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy s10</p>
            </div>
        </section>    
    
    </main>

    
    <footer class="pie">
        <div>
          <i class="fas fa-credit-card"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
          <i class="fas fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
          <i class="fas fa-user-shield"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
      </footer>

</body>
</html>